RPC_URL=https://testnet-rpc.monad.xyz
PRIVATE_KEY_DEPLOYER=
DEMO_AGENT_ADDRESS=
DEMO_API_PROVIDER_ADDRESS=
DEMO_VERIFIER_ADDRESS=

NEXT_PUBLIC_AGENT_REGISTRY_ADDRESS=
NEXT_PUBLIC_AGENT_VAULT_ADDRESS=
